.container{
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/
    /*grid-auto-rows: 1000px;*/

}
.project-form{
}
.main-text{
    grid-column: 1;
    grid-row: 1 / 2;
    margin:20px;
    font-size: 35px;
    font-weight: bold;
    color: black;
    padding-top: 85px;
}
.input-text{
    margin-left: 20px;
    font-size: 20px;
}
.input-border{
    color: white;
    background-color: #2c3e50;
    border-radius: 4px;
    margin: 5px;
    border-color: #2c3e50;
    border-width: 5px;
}
.input-area{

}
