body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color:#efefef;
}

.container{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login-wrapper h2{text-align:center; margin-bottom:1.25em;}
.login-wrapper {
    min-width: 300px;
    width: 100%;
    max-width: 450px;
    padding: 2em;
    border:1px solid #ccc;
    border-radius:1em;
    background-color:#fff;
}
.loginForm {
    padding: 10px;
    // line-height: 2em;
}
.loginForm .form-control  {
    width: 100%;
}
\
.loginForm a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.loginForm > input{
    width: auto
}

.form-label{font-size:18px; font-weight:bold; }

input[type="checkbox"]{

    width: 15px; /*Desired width*/

    height: 15px; /*Desired height*/

    cursor: pointer;

    -webkit-appearance: none;

    appearance: none;

}
.saveIdLabel {
    font-size: 15px;
}