body{
    color: #717476;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container{
    padding-top: 105px
}
.addMember-wrapper {
    background-color: #E5D3D3;
}
.memberList tr:first-child {
    // display: block;
    // border-collapse: separate;
    // border-spacing: 20px 0;
    background-color: #E5D3D3;
    border-radius: 10px;
    height: 40px;
    color: #5B5C5E;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

.memberList tr td:first-child {
    width: 50;
}