.projectName {
    font-size: 35px;
    font-style: normal;
}
.semiTitle {
    font-size: 28px;
}
.formLabel {
    width: 100%;
    height: 50px;
    display: flex; /* Flexbox를 사용합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    background-color: #E5D3D3;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}
.table th {
    border: none;
}
.table td {
    border: none;
}
.table td {
    border-top: 1px solid #dddddd; /* 데이터 행 위에 가로선을 추가하여 데이터 행 간 구분선으로 사용 */
}
.formLabel {
    font-size: 20px;
}