body{
    font-family: Inter;
    line-height: normal;
}

.projectName {
    font-size: 35px;
    font-style: normal;
}
.manageMemberWrapper {
      width: 100%;
    height: 50px;
    display: flex; /* Flexbox를 사용합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    background-color: #333;
    color:#fff;
    padding-left:1em;
    border-radius:10px 10px 0px 0px;
    font-size: 20px;
}
.member-item {
    display: flex;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px
}

.tag {
    display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
    width: 82px;
    height: 30px;
    border-radius: 20px;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    margin-left: 10px;
}
.member-name{font-size:20px; color:#000; font-weight: bold;;}
.chatting{margin-top:5px; margin-left:10px;}
.chatting .image-button{background-color: #fff; border:0px;}
/*

#leaderTag {
    background: #951C47;
    color: #fff;

}
#memberTag {
    background: #152F47;
    color: #fff;
}
#roleTag {
    background : #E8DDD2;
    color: #000;
}
#positionTag {
     background : #F4EFC2;
     color: #000;
}
*/