.dropdown-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-preview {
    width: 0.5em;
    height: 3em;
    padding-left: 0.5em;
    border: 1px solid #ced4da;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.dropdown-menu li {
    display: inline-block;
}