* {
    margin:0;
    padding:0;
}
.container {
    padding:15px;
}
#searchTitle {
    font-size: 26px;
}
.searchLogin-wrapper {
    position:absolute;
    width: 500px;
}
.searchLogin > ul {
    list-style:none;
}
.searchLogin > a {
    text-decoration:none;
}
.searchLogin-wrapper .list {
    overflow:hidden;
}
.searchLogin-wrapper .list li {
    float:left;
}
.searchLogin-wrapper .list .btn {
    font-size:20px;
    width:120px;
    text-align: center;
}
.searchLogin-wrapper .list .searchForm {
    padding: 10px;
    display:none;
    position:absolute;
    height:250px;
    background-color: #ffffe0;
    left: 0;
    top: 100%;
}
.searchLogin-wrapper .list li.is_on .btn {
    font-weight:bold;
    color:green;
    background-color: #d3d3d3;
}
.searchLogin-wrapper .list li.is_on .searchForm{
    display: flex;
}

.form-label {
display: inline-block;
    width: 85px;
    text-align:right;
}
.form-input {
    display: inline-block;
    width: 200px;
}
