.sidebar {
	height : 100vh;
	background : linear-gradient, rgba, url(/resources/css/styles.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 7px 25px #999;
}

.container{
    margin-left: 20% !important;
    width: 80% !important;
    overflow: auto;
}