.sidebar{   
    min-height: 100vh;
    position: fixed;
    background-color: #2c3e50;
    /*width: var(--side-bar-width);*/
    width: 426px;

}
.navigation{
    padding-top: 96px;
}
body{
    margin: 0px;
    padding: 0px;
}

body, ul, li{
    list-style: none;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
    display: block;
}
:root {
--side-bar-width: 240px;
height: 10000px;
}

.sidebar ul > li{
color: white;
font-size: 1.4rem;
font-weight: bold;
padding-top: 36px;
padding-bottom: 36px;
text-align: center;
}

.sidebar ul > li:hover{
    background-color: #2574a8;
}
.sidebar-title{
    padding-top: 165px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

/* 메인 컨테이너 css */
.container {
    padding-left: 426px;
    height: 1000px;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.content{
    padding: 20px;
}

pre{
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

/* 콘텐츠 */
h1{
    min-width: 400px;
}

/* 그리드 */

.issue-grid{
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    height: 300px;
}

.issue-grid > div{
    margin: 10px;
    background-color: #2574a8   ;
    color: white;
}

.main-grid{
    display: grid;
    grid-template-areas:
    "calender project-list project-list"
	"calender issue-form work-form";
    grid-template-columns: minmax(200px, 1.3fr) repeat(2, minmax(200px, 1fr));
    
}
.main-grid > div{
    margin: 10px;
    color: white;
    background-color: #2574a8   ;
}

.detail-grid{
    display: grid;
    grid-template-areas:
    "process-form process-form work-list"
	"todo-form issue-form member-form"
    "todo-form calender calender";
    grid-template-columns: repeat(3, minmax(200px, 1fr))
}
.detail-grid > div{
    margin: 10px;
    color: white;
    background-color: #2574a8   ;
}

.process-form{
    grid-area: process-form;
}
.work-list{
    grid-area: work-list;
}
.member-form{
    grid-area: member-form;
}
.todo-form{
    grid-area: todo-form;
}
.calender{
    grid-area: calender;
}
.project-list{
    grid-area: project-list;
}
.issue-form{
    grid-area: issue-form;
}
.work-form{
    grid-area: work-form;
}

.project-item{
    background-color: #2574a8;
    margin-top: 10px;
}

/* 테이블 */
table{
    text-align: center;
    margin: 0px;
}
td{
    border: 1px solid black;
}

/* 코드블럭 */

pre code{
    display: inline-block;
}