.container{
    margin-left: 20% !important;
    width: 80% !important;
    overflow: auto;
}
.sidebar {
	height : 100vh;
	background : linear-gradient, rgba, url(/resources/css/styles.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}