.projectName {
    font-size: 35px;
    font-style: normal;
}
.semiTitle {
    font-size: 28px;
}
.contentsBox {
    width: 100%;
    margin-bottom:30px;
}
.projectProgress {
    padding:10px;
}
.progress-bar {
    width: 80%;
}
.labelWrapper {
    width: 100%;
    height: 50px;
    display: flex; /* Flexbox를 사용합니다. */
    align-items: center; /* 수직 가운데 정렬합니다. */
    background-color: #333;
    color:#fff;
    padding-left:1em;
    border-radius:10px 10px 0px 0px;
    font-size: 20px;
}
.wbsWrapper{padding:1em;}